* {
    box-sizing: border-box;
}

/* general */

.head {
    
    display: flex;
}

/* end of general */


/* header */

.head__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 3rem;
}

/* end of header */

/* logo */

.head__link {
    width: 9rem;
}

.test {
    fill: black;
}

/* end of logo */

/* nav */

.navigation {
    width: 50%;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
}

.nav__link {
    font-size: 1.1rem;
    color: black;
    text-transform: uppercase;
}

.nav__link:hover {
    text-decoration: underline;
}

/* end of nav */

/* slider*/

.top-slider {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.top-slider__item {
    min-height: 100vh;
    min-width: 100vw;
}

.item--1 {
    background: url(../img/backgrounds/test-1.jpg) 50% 32%;
    background-size: cover;
    background-repeat: no-repeat;
}

.item--2 {
    background: url(../img/backgrounds/test-5.jpg) 50% 31%;
    background-size: cover;
    background-repeat: no-repeat;
}

.item--3 {
    background: url(../img/backgrounds/test-9.jpg) 50% 25%;
    background-size: cover;
    background-repeat: no-repeat;
}

/* end of slider */


/* about us */

.wrapper-aboutus{
    min-height: 100vh;
    
}

.wrapper-aboutus__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3rem;
}


.wrapper-aboutus__description {
    width: 50%;
}

.wrapper-aboutus__foto {
    height: 500px;
    width: 40%;
}

.description__paragraph {
    padding: 0.3rem 0;
    line-height: 1.5rem;
    font-family: 'Lato', sans-serif;
}

.wrapper-aboutus__pic {
    height: 500px;
    width: 100%;
    object-fit: cover;
}

/* END OF ABOUT US */

/* COLLECTIONS */

.wrapper-collections {
    height: 100vh;
}

.wrapper-collections__gallery {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.nav-gallery {
    position: absolute;
    top: 0;
    left: 3rem;
    font-family: 'Lato', sans-serif;
}

.nav-gallery__link {
    color: #000;
    font-size: 1.3rem;
}

.gallery__container {
    width: 500px;
    display: flex;
    align-items: center;
}

.gallery__item {
    height: 650px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery__item--1 {
    background: url(../img/collection_aut-wint-2018/pic-1.jpg) 50% 70%;
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery__item--2 {
    background: url(../img/collection_aut-wint-2018/pic-2.jpg) 50% 70%;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery__item--3 {
    background: url(../img/collection_aut-wint-2018/pic-3.jpg) 50% 70%;
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery__item--4 {
    background: url(../img/collection_aut-wint-2018/pic-4.jpg) 50% 70%;
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery__item--5 {
    background: url(../img/collection_aut-wint-2018/pic-5.jpg) 50% 70%;
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery__item--6 {
    background: url(../img/collection_aut-wint-2018/pic-6.jpg) 50% 70%;
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery__item--7 {
    background: url(../img/collection_aut-wint-2018/pic-7.jpg) 50% 70%;
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery__item--8 {
    background: url(../img/collection_aut-wint-2018/pic-8.jpg) 50% 70%;
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery__item--9 {
    background: url(../img/collection_aut-wint-2018/pic-9.jpg) 50% 70%;
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery__item--10 {
    background: url(../img/collection_aut-wint-2018/pic-10.jpg) 50% 70%;
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery__item--11 {
    background: url(../img/collection_aut-wint-2018/pic-11.jpg) 50% 70%;
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery__item--12 {
    background: url(../img/collection_aut-wint-2018/pic-12.jpg) 50% 70%;
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery__item--13 {
    background: url(../img/collection_aut-wint-2018/pic-13.jpg) 50% 70%;
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery__item--14 {
    background: url(../img/collection_aut-wint-2018/pic-14.jpg) 50% 70%;
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery__item--15 {
    background: url(../img/collection_aut-wint-2018/pic-15.jpg) 50% 70%;
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery__item--16 {
    background: url(../img/collection_aut-wint-2018/pic-16.jpg) 50% 70%;
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery__item--17 {
    background: url(../img/collection_aut-wint-2018/pic-17.jpg) 50% 70%;
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery__item--18 {
    background: url(../img/collection_aut-wint-2018/pic-18.jpg) 50% 70%;
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery__item--19 {
    background: url(../img/collection_aut-wint-2018/pic-19.jpg) 50% 70%;
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery__item--20 {
    background: url(../img/collection_aut-wint-2018/pic-20.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery__item--21 {
    background: url(../img/collection_aut-wint-2018/pic-21.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}



.slick-prev {
    left: -50px;
}

.slick-next {
    right: -50px;
}

.slick-prev:before {
    content: "\f104";
    font: 4rem/0 'FontAwesome';
    color: black;
}

.slick-next:before {
    content: "\f105";
    font: 4rem/0 'FontAwesome';
    color: black;

}

/* END OF COLLECTIONS */

/* STORES */

.try {
    font-size: 2rem;
}

/* END OF STORES */

/* CONTACTS */

.wrapper-contacts {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: 'Lato',sans-serif;
}

.wrapper-contacts__contacts {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    text-align: center;
}

.contacsts__header {
    font-size: 2rem;
    letter-spacing: 0.1rem;
    padding-bottom: 0.7rem;
}

.contacts__block {
    padding: 0 0 1rem;
    letter-spacing: 0.1rem;
}

.contacts__block--top {
    border-top: 1px solid #000;
}

.contacts__block a {
    color: black;
    font-size: 1rem;

}

.contacts__position {
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    padding: 1rem 0;
}

.socials__header {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}

.dest {
    margin-bottom: 1rem;
}

.number {
    /* padding: 1rem; */
    display: flex;
    justify-content: flex-start;
    text-align: center;
    margin-left: 84px;
}

.socials {
    border-top: 1px solid #000;
}

.socials__header {
    padding-top: 0.7rem;

}

.socials__container {
    padding: 1rem;
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 3rem;
}

.social__link {
    color: black;
}

.fa-instagram {
    margin-right: 2rem;
}

.social__link--telegram:hover {
    color: #0088cc;
}

.phone__link {
    margin-right: 0.5rem;
}

.number__first {
    margin-top: 1rem;
}

/* END OF CONTACTS */
.slick-slide {
    width: 500px;
}